.footer {
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZkbPnUuj3Kdz2ZOiQ0_6P5mTD7e6fDyAnJg&usqp=CAU");
    background-size: cover;
    background-position: center;
}